/* This is main container section */

* {
  margin: 0;
  padding: 0;
  list-style: none;

}

.main-container {
  max-width: 1200px;
  height: auto;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.co-main-container {
  max-width: 1200px;
  height: auto;
  margin: auto;

}

/* header area img start */
.header-part {
  width: 98%;
  height: auto;
  margin: auto;
  background: #56b0e9;
}

.header-img-area img {
  width: 140px;
  height: auto;
  padding: 25px 0px;
}

.head-box {
  text-align: center;
  padding: 25px 0px;
  margin-left: -70px;
}

.head-box h1 {
  letter-spacing: 2px;
}

.school-det h4,
h5 {
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* header area img end */

/* menubar-area-start-here */
.menubar-section {
  width: 98%;
  height: auto;
  margin: auto;
  margin-top: 1px;
  padding-bottom: 5px;

  /* background: #337ab7; */
}

.topnav {
  overflow: hidden;
  background-color: #0773b6;
  border-bottom: 1px solid red;
}

.menubar nav ul {
  margin: 0;
  padding: 0;
}

.menubar nav ul li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 15px;

}

.topnav a:hover {
  background-color: #138fde;
  color: black;
}

.topnav a.active {
  background-color: darkred;
  color: white;
}

.topnav .icon {
  display: none;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  /* .topnav .menubar nav ul li a:not(:first-child) {
    display: none;
  } */

  .menubar nav ul li a {
    display: none;
  }

  .topnav a.icon {
    margin: 0;
    padding: 9px 12px;
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* this is menubar dropdown area */
.menubar nav ul li a{
  position: relative;
}
.menubar nav ul li .dropdown_menu ul {
  display: flex;
  flex-direction: column;
  background-color: #0773b6;
  position: absolute;
  width: 180px;
  top: 38.4%;
  left: 11.8%;
  right: 0px;
  cursor: pointer;
  z-index: 22222;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

}

.menubar nav ul li:hover .dropdown_menu ul {
  visibility: visible;
  opacity: 1;

  transform: translateY(0);
}

/* ...... */
/* menubar-area-end-here */

/* slider-img-section start */
.hero-slider {
  width: 98%;
  margin: auto;
  height: auto;
  /* background: lightcoral; */
}

/* carousel */
.carousel {
  width: 100%;
  height: auto;
  position: relative;
}

.carousel_inner {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel_inner::after {
  content: "";
  display: block;
  clear: both;
}

.carousel_item {
  position: relative;
  float: left;
  display: none;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next {
  display: block;
}

.carousel_item__pos_prev {
  left: -100%;
}

.carousel_item__pos_next {
  left: 100%;
}

.carousel_item__prev {
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

.carousel_item__next {
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next {
  transform: none;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

/* carousel */
.carousel_img {
  display: block;
  width: 100%;
}


.carousel_indicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: .5rem;
  z-index: 1;
}

.carousel_dot {
  display: block;
  padding: .25rem;
  background-color: rgba(255, 255, 255, .25);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}

.carousel_dot__active {
  background-color: lightskyblue;
  cursor: default;
  pointer-events: none;
}

.carousel_control {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.carousel_button {
  display: block;
  padding-inline: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.375rem;
  background-color: transparent;
  color: rgba(255, 255, 255, .25);
  border: none;
  cursor: pointer;
  transition: color .25s;
  z-index: 1;
}

.carousel_button:hover {
  color: rgba(135, 206, 250, .75);
}

/* slider-img-section end */

/* animated text area start */

.notice-animate-text {
  width: 98%;
  height: auto;
  margin: auto;
  position: relative;
  background: rebeccapurple;
  overflow: hidden;


}

.notice-animate-text {
  margin-top: 4px;
  background: #f2f2f2;
}

.animate-text-notice {
  width: 100%;
  height: 38px;
  background: #f2f2f2;
  position: relative;

}



.notice-text-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 38px;
  border-radius: 0px 3px 8px 0px;
  background: #138fde;
  z-index: 1;
}

.notice-text-head h4 {
  font-size: 18px;
  margin-top: 9px;
}

.animate-text-notice h5 {
  width: 100%;
  padding: 4px 0px;
  font-size: 14px;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  overflow: hidden;
  text-align: right;
  animation: move-rtl 16000ms linear infinite;

}
@keyframes  move-rtl{
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-150%);
  }
}

/* animated text area end */
/* main-body-area-start */
.main-body-area {
  width: 100%;
  height: auto;


}

.connect-main-body {
  width: 100%;
  /* max-width: 1500px; */
  height: auto;
  padding-bottom: 85px;


}

.main-body-left {
  width: 75%;
  height: auto;
  margin-right: 18px;

  /* background: lightcoral; */
}

.main-body-right {
  width: 25%;
  height: auto;
  margin-right: 10px;
  margin-top: 15px;

  /* background: lightgrey; */
}

/* main-body-area-end */

/* notice board start */
.notice-board {
  width: 550px;
  height: auto;
  padding-bottom: 8px;
  background: #eeeeee;
  margin-top: 15px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}

.notice-board-head {
  width: 550px;
  padding: 5px 0px;

  background: rgb(187, 160, 160);
}
.notice-items {
  overflow: hidden;
  margin-left: 25px;
}
.notice-items ul {
  padding: 6px 0px;
  overflow: hidden;
  animation: move-notice 6000ms linear infinite;

}

@keyframes move-notice {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
 
  }
}

.notice-items ul:hover {
  animation-play-state: paused;

}
.notice-items ul li{
  padding: 8px 0px;
}
.notice-items ul li a {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration: none;
 
}

.notice-items ul li a i {
  color: black;
  margin-right: 15px;
}

.more-notice p {
  margin-right: 25px;
  margin-top: 25px;
  text-align: right;
}

.more-notice a {
  text-decoration: none;
  cursor: pointer;
}

/* notice board end */
.school-contact-con {
  width: 280px;
  height: auto;
  margin-top: 15px;
  padding-bottom: 3px;
  /* background: lightseagreen; */
}

.school-contact-view ul li {
  padding: 15px 0px;
  margin-left: -25px;
  background: rgb(173, 13, 13);
  margin-top: 15px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;


}

.school-contact-view ul li:hover {

  background: rgb(185, 40, 40);
}

.school-contact-view ul li i {
  margin-right: 8px;

}

.school-contact-view ul li a {
  text-decoration: none;
  margin-left: 25px;
  color: black;
  


}

/* school contact side */

/* information-box start */
.information-card {
  width: 100%;
  height: auto;
  border: 2px solid rgb(145, 135, 135);
  background: darkgrey;
}

.information-box {
  width: 100%;
  height: auto;
  padding: 20px 0px;

}

.information-head,
.teachers-head,
.download-head,
.academic-head {
  width: 100%;
  padding: 8px 0px;

  background: #db526a;
}

.teachers-head {
  background: #39d088;
}

.download-head {
  background: #d8931e;
}

.academic-head {
  background: #4da9e4;
}

.information-head h4,
.teachers-head h4,
.download-head h4,
.academic-head h4 {
  margin-left: 15px;
  font-size: 20px;
}

.information-img img {
  margin-left: 9px;
}

.information-img {
  width: 120px;
}

.information-content {
  margin-left: 25px;
}

.information-content a {
  text-decoration: none;
  color: black;
  padding: 5px 0px;
  font-size: 14px;
}

.information-content a:hover {
  color: darkgreen;
}

/* information-box end */

/* person quote section start */
.quote-head,
.school-history-head,
.some-information-head {
  width: 100%;
  height: 100%;
  background: #138fde;
}

.quote-head h4,
.school-history-head h4,
.some-information-head h4 {
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  padding: 3px 0px;
  color: #fff;
  margin-left: 5px;

}

.person-quote-box img {
  width: 160px;
  height: 200px;
  background-size: cover;
  background-position: center;
  float: left;
  margin-right: 12px;
}

.person-quote-box p,
.school-history-box p {
  width: 98%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.person-quote-box p a,
.school-history-box p a {
  text-decoration: none;
  color: lightskyblue;
  padding: 5px;
}

.school-history-box img {
  float: left;
  width: 320px;
  height: 190px;
  padding: 0px 5px 5px 0px;
  margin-right: 15px;
}

/* person quote section end */

/* main-body-right-area-start */
.biodata-head {
  width: 100%;
  height: 100%;
  background: darkgreen;
  color: #fff;
  border-radius: 2px;
}

.biodata-head h4 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  padding: 5px;
}

.biodata-box img {
  width: 170px;
  height: 190px;
  margin-left: 35px;
  padding: 5px;


}

.biodata-box h5 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 8px;
}

.biodata-box h5 a {
  font-size: 16px !important;
  text-decoration: none;
  color: #d8931e;
}


.some-information-box a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.some-information-box a:hover {
  color: green;
}

.some-information-box img {
  width: 230px;
  height: 240px;
  margin-left: 15px;
}

/* main-body-right-area-end */

/* footer area start */
.footer-content {
  padding: 15px 18px;
  background: #0773b6;
}

.footer-content p {
  margin-top: 25px;
  color: #fff;
  text-transform: capitalize;
}

.footer-content a {
  text-decoration: none;
  color: gold;
  padding: 0px 5px;

}

/* footer area end */


/* more pages css here */